* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h2{
    color: #Ffd700;
    padding: 10px;
}

h4{
    color: #Ffd700;
    padding: 3%;
    font-size: 20px;
}

header img {
    border : 2px ridge #Ffd700;
}

main{
    padding: 3%;

}

main a{
    text-decoration: none;
    color: #Ffd700;
}

main a:hover{
    color: #ffffff;
}

nav a:hover{
    color: #Ffd700;
}   

aside{
    text-align: center;
    padding: 5%;
}

aside a{
    text-decoration: none;
    color: #Ffd700;
}

aside a:hover{
    color: #1876a2;
}

p{
    padding : 10px;
    font-size: 18px;
}

li{
    padding: 5px;
}

legend{
    font-size: 18px;
    text-align: center;
}

table{
    border: 1px solid gold;
    border-collapse: collapse;
    margin-top: 20px;
    width: 30%;
}

caption{
    border: 2px solid #000000;
    padding: 10px;
    background-color: #04ff00;
    color: #181818;
    font-weight: bold;
}

td{
    border: 2px solid #000000;
    padding: 10px;
    color: #ffffff;
}

tr:nth-child(even){
    background-color: #181818;
}

.heading{
    color: #ffffff;
    font-weight: bold;
    padding : 2%;
}

.ul-left{
    font-size: 17px;
    margin-left: 50px;
}

.bold{
    font-weight: bold;
}

.info-btn{
    border: 2px ridge #Ffd700;
    background-color: #181818;
    width: 25%;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin-left: 30px;
}

.info-btn a{
    text-decoration: none;
    color: #ffffff;
}

.info-btn a:hover{
    color: #Ffd700;
}

.recipe img{
    max-width: 90%;
    height: auto;
    display: block;
    width: 310px;
    border: ridge 5px #Ffd700;
    margin: 10px;
}

.contact-info{
    padding: 2%;
    font-size: 18px;
}

.big img{
    max-width: 100%;
    height: auto;
    display: block;
}

.gep{
    padding: 2%;
}

.sitemap{
    padding: 2%;
    font-size: 18px;
}

.sitemap li{
    padding: 2%;
}

.sitemap a{
    color: #ffffff;
}

.sitemap a:hover{
    color: #Ffd700;
}

.gold{
    color: #Ffd700;
}

.viewrecipe-btn{
    border : 2px ridge #Ffd700;
    background-color: #181818;
    max-width: 30%;
    height: auto;
    text-align: center;
    padding: 2%;
    margin: 2%;
}

.viewrecipe-btn a{
    text-decoration: none;
    color: #ffffff;
}

.viewrecipe-btn a:hover{
    color: #Ffd700;
}

.recipe{
    padding: 3%;
}

.recipe ul{
    text-align: left;
}

.recipe ol{
    text-align: left;
}

@media only screen and (max-width: 768px){
   /* body {
        min-width: 500px;
        background-color: #333333;  -- Becouse of this website was opening zoomed-in
        color: #ffffff;
    }*/

    body {
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    }

    header, nav, main, aside, footer {
        background-color: #181818;
    }

    header {
        display: flex;
        gap: 1em;
        align-items: center;
        padding: 10px;
        color: #ffd700;
        background-color: #0a4025;
    }

    nav ul {
        list-style: none;
        text-align: center;
        border: 1px solid #Ffd700;
    }

    nav ul li a {
        color: #bebebe;
        text-decoration: none;
    }

    nav li {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #181818;
        border: 1px solid #000000;
    }

    main {
        padding:5%;
        border-bottom: 2px solid #Ffd700;
    }

    aside {
        text-align: center;
        padding: 20px;
    }

    aside img {
        width: 300px;
        margin: 25px;
        border: 5px ridge #Ffd700;
    }

    footer {
        border-top: 1px solid #ffd700;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        background-color: #0a4025;
    }

    .recipe{
        text-align: center;
        align-items: center;
        padding: 2%;
    }

    .recipe img{
        text-align: center;
        margin-left: 20%;
    }

    .info-btn{
        margin-left: 37%;
        margin-bottom: 10%;
    }

    .big{
        border: 5px ridge #Ffd700;
    }
}

@media only screen and (min-width: 680px){

    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "header header"
          "nav nav"
          "main main"
            "aside aside"
          "footer footer";
     background-color: #333333;
     color: #ffffff;
    }
      
    header, nav, main, aside, footer {
        background-color: #181818;
    }

    header {
        grid-area: header;
        display: flex;
        gap: 1em;
        align-items: center;
        padding: 10px;
        color: #Ffd700;
        background-color: #0a4025;
    }

    h2{
        padding-left: 30px;
    }

    p{
        padding-left: 30px;
    }
      
    nav {
        grid-area: nav;
    }
      
    main {
        grid-area: main;
        border-bottom: 2px solid #Ffd700;
    }
      
    aside {
        grid-area: aside;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
      
    footer {
        grid-area: footer;
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: center;
        background-color: #0a4025;
    }

    nav ul{
        display: flex;
        justify-content: space-around;
        background-color: #181818;
        border: 1px solid #Ffd700;
    }

    nav ul li{
        border: none;
        list-style: none;
        text-align: center;
        font-size: 17px;
    }

    nav ul li a{
        text-decoration: none;
        color: #bebebe;
    }

    aside img{
        width: 300px;
        margin-top: 10%;
        border: 5px ridge #Ffd700;
    }

    .recipe{
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        grid-template-areas:
          "info img"
          "info img"
          "info img";
       gap: 10px;
    }

    .recipe img{
        grid-area: img;
        margin: 2%;
        margin-top: 10%;
    }

    .recipe-info{
        grid-area: info;
    }

    .big{
        border: 5px ridge #Ffd700;
        width: 80%;
    }
}

@media only screen and (min-width: 1024px){
    
    body{
        display: grid;
        grid-template-columns: 150px 2fr 1fr;
        grid-template-areas:
          "header header header"
          "nav main aside"
          "footer footer footer";
        width: 90%;
        margin: auto;
        background-color: #181818;
        color: #ffffff;
    }

    header {
        grid-area: header;
        color: #ffffff;
        background-color: #0a4025;
    }
      
    nav {
        grid-area: nav;
        background-color: #333333;
    }
      
    main {
        grid-area: main;
        border: none;
    }
      
    aside {
        grid-area: aside;
        background-color: #333333;
    }
      
    footer {
        grid-area: footer;
        background-color: #0a4025;
    }

    aside img{
        width: 250px;
        border: 5px ridge #Ffd700;
        margin: 10px;
        max-width: 90%;
        height: auto;
        display: block;
    }

    nav ul{
        display: block;
        border: 1px solid #Ffd700;
        margin : 10%;
        margin-top: 25%;
    }

    nav ul li{
        text-align: center;
        border : 1px solid #000000;
        padding: 10px;
    }

    .recipe{
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        grid-template-areas:
          "info img"
          "info img"
          "info img";
       gap: 10px;
    }

    .recipe img{
        grid-area: img;
        margin: 2%;
        margin-top: 20%;
    }

    .recipe-info{
        grid-area: info;
    }

    .big{
        border: 5px ridge #Ffd700;
        margin-left: 4%;
    }
}